@import "tailwindcss";

:root {
  --primary: #fff;
  --info: #3498db;
  --success: #07bc0c;
  --warning: #f1c40f;
  --error: hsl(6, 78%, 57%);
  --dark: #121212;
  --dark400: #00003c;
  --dark300: #9999B1;
  --dark200: #CCCCD8;
  --dark100: #F2F2F5;

  --gradient: linear-gradient(135deg, #0161FD 0%, #3F46D2 25%, #812EA4 51%, #C21578 77%, #FD0050 100%);
  --progress-light: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
  --progress-dark: #bb86fc;

  --blue600: #0044B3;
  --blue400: #0061FF;
  --blue300: #99C0FF;
  --blue200: #CCDFFF;
  --blue100: #F2F7FF;

  --red600: #B30038;
  --red400: #FF0050;
  --red300: #FF99B9;
  --red200: #FFCCDC;
  --red100: #FFF2F6;

  --blueberry600: #24268E;
  --blueberry400: #4649D0;
  --blueberry300: #B5B6EC;
  --blueberry200: #DADBF6;
  --blueberry100: #F6F6FD;

  --purple600: #421C63;
  --purple400: #6A2EA0;
  --purple300: #C3ABD9;
  --purple200: #E1D5EC;
  --purple100: #F8F5FA;

  --rose600: #4D003A;
  --rose400: #9A0074;
  --rose300: #D799C7;
  --rose200: #EBCCE3;
  --rose100: #FAF2F8;

  --mint800: #005B52;
  --mint600: #00B39E;
  --mint400: #00E4CA;
  --mint300: #99F4EA;
  --mint200: #CCFAF4;
  --mint100: #F2FEFC;

  --yellow600: #E6CF00;
  --yellow400: #FFF066;
  --yellow300: #FFF9C2;
  --yellow200: #FFFCE0;
  --yellow100: #FFFEF7;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('IBM Plex Sans Light'), local('IBMPlexSans-Light'),
    url('@/public/fonts/ibm-plex-sans-v7-latin-300.woff2') format('woff2'),
    url('@/public/fonts/ibm-plex-sans-v7-latin-300.woff') format('woff');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans'), local('IBMPlexSans'),
    url('@/public/fonts/ibm-plex-sans-v7-latin-regular.woff2') format('woff2'),
    url('@/public/fonts/ibm-plex-sans-v7-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans Italic'), local('IBMPlexSans-Italic'),
    url('@/public/fonts/ibm-plex-sans-v7-latin-italic.woff2') format('woff2'),
    url('@/public/fonts/ibm-plex-sans-v7-latin-italic.woff') format('woff');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('IBM Plex Sans Medium'), local('IBMPlexSans-Medium'),
    url('@/public/fonts/ibm-plex-sans-v7-latin-500.woff2') format('woff2'),
    url('@/public/fonts/ibm-plex-sans-v7-latin-500.woff') format('woff');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('IBM Plex Sans SemiBold'), local('IBMPlexSans-SemiBold'),
    url('@/public/fonts/ibm-plex-sans-v7-latin-600.woff2') format('woff2'),
    url('@/public/fonts/ibm-plex-sans-v7-latin-600.woff') format('woff');
}




html, body {
  height: 100%;
  margin: 0;
}
body {
  font-family: "IBM Plex Sans";
  color: var(--dark400);
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1 0 auto;
}

.emptyContainer {
  display: flex;
  justify-content: center;
  padding: 10%;
  font-size: 4rem;
  color: white;
}

.contentContainer {
  padding: 0 48px;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1440px;
  width: 100%;
}


/* ================== TEXT ================== */
h1, h2, h3, h4, h5,
.default, 
.large,
.medium, 
.small,
.eyebrow {
  font-optical-sizing: auto;
  font-style: normal;
}


h1, h2, h3, h4, h5 {
  font-weight: 600;
}
h1 {
  font-size: 42px;
  line-height: 1.25rem;
}
h2 {
  font-size: 34px;
  line-height: 44px;
}
h3 {
  font-size: 24px;
  line-height: 34px;
}
h4 {
  font-size: 20px;
  line-height: 30px;
}
h5 {
  font-size: 18px;
  line-height: 28px;
}

p {
  margin: 14px 0;
}

.default {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
}
.large {
  font-size: 24px;
  line-height: 34px;
  font-weight: 300;
}
.medium {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}
.small {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
.eyebrow {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  color: var(--purple400);
}



a {
  color: var(--blue400);
  text-decoration: underline;
  transition: color .2s, box-shadow .2s;
  cursor: pointer;
}
a:hover {
  color: var(--blueberry400);
}



ul {
  margin: 14px 0;
  padding-left: 10px;
}
li {
  color: var(--dark400);
  line-height: 28px;
  font-size: 18px;
  font-weight: 300;
  padding-left: 14px;
  margin: 14px 0;
}
li::marker {
  color: var(--red400);
  content: "●";
}



/* ========= TOAST NOTIFICATION ============== */

.toast-container {
  position: fixed;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;

  flex-direction: column;
  align-items: center;
  z-index: 10;
  pointer-events: none;


  min-height: 250px; /* Limit the realestate */
  min-width: 100%;
  overflow: hidden;

  background: transparent;

  -webkit-mask-image: linear-gradient(to bottom, 
    rgba(0,0,0,1) 0%, 
    rgba(0,0,0,1) 150px, 
    rgba(0,0,0,0) 250px
  );
  mask-image: linear-gradient(to bottom, 
    rgba(0,0,0,1) 0%, 
    rgba(0,0,0,1) 150px, 
    rgba(0,0,0,0) 250px
  );
}

.toast-notification {
  background-color: var(--blue200);
  color: var(--dark400);
  padding: 12px 24px;
  border-radius: 50px;
  /* box-shadow: 5px 5px 6px #201d36; */

  font-weight: 600;
  font-size: 2rem;

  margin-top: -25px; 
  /* position: relative; */

  transition: transform 0.3s ease, opacity 0.3s ease, margin 0.3s ease;
  animation: slideInDown 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}



.toast-notification:first-child {
  margin-top: 0;
  z-index: 10; /* Newest is always on top */
}
/* Ignore this teehee :'] */
.toast-notification:nth-child(2) { z-index: 9; }
.toast-notification:nth-child(3) { z-index: 8; }
.toast-notification:nth-child(3) { z-index: 7; }
.toast-notification:nth-child(3) { z-index: 6; }

.toast-notification.exit {
  opacity: 0;
  transform: translateY(-10px) scale(0.9);
}

@keyframes slideInDown {
  from { 
    transform: translateY(-50px) scale(0.8); 
    opacity: 0; 
    margin-bottom: -40px;
  }
  to { 
    transform: translateY(0) scale(1); 
    opacity: 1; 
    margin-bottom: 0;
  }
}
