@import "tailwindcss";

/* 
@layer base: Use for global element overrides like headers or links.
@layer components: Use for reusable UI pieces like custom buttons.
@layer utilities: Use for one-off helper classes.
*/




@layer base {
  h1 {
    @apply text-3xl font-bold; /* Use @apply to reuse Tailwind utilities */
  }
}

@layer components {
  .btn-primary {
    @apply bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700;
  }
}

@layer utilities {
  .text-shadow-sm {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  }
}


/* ========================== BUTTONS ========================== */

.primaryBtn {
  background-color: var(--blue600);
  color: var(--primary);
  border-radius: 8px;
  @apply px-24 py-18;

  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;

  text-align: center;
}
.primaryBtn:hover {
  background-color: var(--blueberry400);
}
.primaryBtn:focus {
  background-color: var(--mint400);
  color: var(--dark400);
}
.primaryBtn:active {
  background-color: var(--blueberry400);
  border: var(--mint400) solid 3px;
}
.primaryBtn:disabled {
  background-color: var(--blue300);
}

primaryBtn--negative {
  background-color: var(--primary);
  color: var(--blue600);
}
.primaryBtn--negative:hover {
  color: var(--blueberry400);
}
.primaryBtn--negative:focus {
  background-color: var(--mint400);
  color: var(--dark400);
}
.primaryBtn--negative:active {
  color: var(--blueberry400);
  border: var(--mint400) solid 3px;
}
.primaryBtn--negative:disabled {
  color: var(--blue300);
}

primaryBtn--destructive {
  background-color: var(--red600);
  color: var(--primary);
}
.primaryBtn--destructive:hover {
  background-color: var(--rose400);
}
.primaryBtn--destructive:focus {
  background-color: var(--mint400);
  color: var(--dark400);
}
.primaryBtn--destructive:active {
  background-color: var(--rose400);
  border: var(--mint400) solid 3px;
}
.primaryBtn--destructive:disabled {
  background-color: var(--red300);
}